### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.tfvars
*.tfvars.*
gitlab
gitlab/*
.terraform
.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
